<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/nav') %>
    <div class="main-container">
      <div class="small-box">
        <h1>New Book</h1>
      </div>
      <div class="create-book">
        <form class="create-form" action="/books/create" method="POST">
          <label for="title">Book Title</label>
          <input type="text" class="input-control" name="title" />
          <label for="author">Author</label>
          <input type="text" class="input-control" name="author" />
          <label for="description">Description</label>
          <textarea
            name="description"
            class="input-control"
            rows="10"
          ></textarea>
          <button class="btn-submit">Submit</button>
        </form>
      </div>
    </div>
    <%- include('../partials/footer') %>
  </body>
</html>
