<nav>
  <div class="navbar">
    <a class="logo" href="/">BookDir</a>
    <ul class="item-link">
      <li><a href="/login">Login</a></li>
      <li><a href="/books/create">New Book</a></li>
    </ul>
  </div>
</nav>
