<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/nav') %>
    <div class="main-container">
      <div class="box">
        <h1>Welcome to BookDir.</h1>
        <p>Here are list of books you can find for free...</p>
        <a href="/books" class="btn-books">See all books</a>
      </div>
    </div>

    <%- include('./partials/footer') %>
  </body>
</html>
