<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/nav') %>
    <div class="main-container">
      <div class="box">
        <h1>Welcome to BookDir.</h1>
        <p>Here are list of books you can find for free...</p>
      </div>
      <p>nothing to display yet.</p>
    </div>

    <%- include('./partials/footer') %>
  </body>
</html>
